In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('C:\\Users\\yadav\\Downloads\\Jupyter\\Datasets\\stroke_data.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [8]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [9]:
df.shape

(5110, 12)

In [10]:
continuous=['age','avg_glucose_level','bmi']
discrete_categorical=['gender','hypertension', 'heart_disease','ever_married',
       'work_type', 'Residence_type',
       'smoking_status', 'stroke']

In [11]:
df[continuous]

       age  avg_glucose_level   bmi
0     67.0             228.69  36.6
1     61.0             202.21   NaN
2     80.0             105.92  32.5
3     49.0             171.23  34.4
4     79.0             174.12  24.0
...    ...                ...   ...
5105  80.0              83.75   NaN
5106  81.0             125.20  40.0
5107  35.0              82.99  30.6
5108  51.0             166.29  25.6
5109  44.0              85.28  26.2

[5110 rows x 3 columns]

In [14]:
df[discrete_categorical]

,gender,hypertension,heart_disease,ever_married,work_type,Residence_type,smoking_status,stroke
0,Male,0,1,Yes,Private,Urban,formerly smoked,1
1,Female,0,0,Yes,Self-employed,Rural,never smoked,1
2,Male,0,1,Yes,Private,Rural,never smoked,1
3,Female,0,0,Yes,Private,Urban,smokes,1
4,Female,1,0,Yes,Self-employed,Rural,never smoked,1
...,...,...,...,...,...,...,...,...
5105,Female,1,0,Yes,Private,Urban,never smoked,0
5106,Female,0,0,Yes,Self-employed,Urban,never smoked,0
5107,Female,0,0,Yes,Self-employed,Rural,never smoked,0
5108,Male,0,0,Yes,Private,Rural,formerly smoked,0
5109,Female,0,0,Yes,Govt_job,Urban,Unknown,0

# Feature Transformation
- converting skewed data to Normal Distributed data

In [18]:
df[continuous].skew()

age                 -0.137059
avg_glucose_level    1.572284
bmi                  1.055340
dtype: float64

***avg_glucose_level is right skewed***

In [21]:
# log transformation- converting each value to its log value

df['log_avg_glucose_level']=np.log(df['avg_glucose_level']) # input as 1 dimensional array
df['log_avg_glucose_level']

0       5.432367
1       5.309307
2       4.662684
3       5.143008
4       5.159745
          ...
5105    4.427836
5106    4.829912
5107    4.418720
5108    5.113733
5109    4.445940
Name: log_avg_glucose_level, Length: 5110, dtype: float64

In [22]:
df['log_avg_glucose_level'].skew()

0.8827511014266456

In [23]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,log_avg_glucose_level
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,5.432367
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,5.309307
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,4.662684
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,5.143008
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,5.159745
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,4.427836
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,4.829912
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,4.418720
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,5.113733
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,4.445940

***Root transformation***
- nth root

In [31]:
df['root_avg_glucose_level']=df['avg_glucose_level']**(1/7)
df['root_avg_glucose_level'].skew()

0.9880885226881669

In [32]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,log_avg_glucose_level,root_avg_glucose_level
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,5.432367,2.172878
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,5.309307,2.135012
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,4.662684,1.946626
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,5.143008,2.084889
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,5.159745,2.089879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,4.427836,1.882401
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,4.829912,1.993691
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,4.418720,1.879951
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,5.113733,2.076188
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,4.445940,1.887276

***BoxCox***

In [34]:
from scipy.stats import boxcox
boxcox(df['avg_glucose_level'])

(array([0.94318521, 0.94276319, 0.93936995, ..., 0.93735413, 0.94196865,
        0.93760565]),
 -1.0568324845937875)

In [40]:
df['boxcox_avg_glucose_level'], param = boxcox(df['avg_glucose_level'])
print(df['boxcox_avg_glucose_level'])

print(f'\nlambda value is : {param}')

0       0.943185
1       0.942763
2       0.939370
3       0.942098
4       0.942171
          ...
5105    0.937439
5106    0.940480
5107    0.937354
5108    0.941969
5109    0.937606
Name: boxcox_avg_glucose_level, Length: 5110, dtype: float64

lambda value is : -1.0568324845937875

In [41]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,log_avg_glucose_level,root_avg_glucose_level,boxcox_avg_glucose_level
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,5.432367,2.172878,0.943185
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,5.309307,2.135012,0.942763
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,4.662684,1.946626,0.939370
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,5.143008,2.084889,0.942098
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,5.159745,2.089879,0.942171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,4.427836,1.882401,0.937439
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,4.829912,1.993691,0.940480
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,4.418720,1.879951,0.937354
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,5.113733,2.076188,0.941969
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,4.445940,1.887276,0.937606

In [42]:
df['boxcox_avg_glucose_level'].skew()

0.0832990526490162

***for left skewed***

***exponential transformation***

In [43]:
np.exp() # only for example

TypeError: exp() takes from 1 to 2 positional arguments but 0 were given

In [ ]:
#power transformation

df['root_avg_glucose_level']=df['avg_glucose_level']**7

In [ ]:
# boxcox - only for example

from scipy.stats import boxcox
df['boxcox_avg_glucose_level'], param = boxcox(df['avg_glucose_level'])
print(df['boxcox_avg_glucose_level'])